# Q1. 
Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a= "Hello.. My name is Pranav"
print(a)
type(a)

Hello.. My name is Pranav

str

In [2]:
mylist = [ "apple" , "monkey" , "Vegetarian"]
print(mylist)
type(mylist)

['apple', 'monkey', 'Vegetarian']

list

In [3]:
f = float(501)
print(f)
type(f)

501.0

float

In [4]:
mytuple = ("monkey", "cat", "dog")
print(mytuple)
type(mytuple)

('monkey', 'cat', 'dog')

tuple

# Q2.
Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [5]:
var1 = ' '
type(var1)

str

In [6]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [7]:
var3 = ['DS' , 'ML' , 'Python' ]
type(var3)

list

In [8]:
var4 = 1
type(var4)

int

# Q3. 
Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [9]:
#  / is the division operator in Python
x = 10
y = 5
print(x/y)

2.0

In [10]:
# % is the modulus operator in Python which gives us the remainder upon division

x = 30
y = 12
print(x%y)

6

In [11]:
# // is the floor division operator in Python 

x = 100
y = 12
print(x//y)                     ##the floor division // rounds the result down to the nearest whole number

8

In [12]:
# ** is the exponential opeator

x = 2
y = 3
print(x**y)                     ##same as 2*2*2

8

# Q4. 
Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [13]:
l = [10 , 14.5 , True, 'Pranav', 11+12j , 36, False, 13, 'skillset', 11]
for i in l:
    print(i)
    print(type(i))

10
<class 'int'>
14.5
<class 'float'>
True
<class 'bool'>
Pranav
<class 'str'>
(11+12j)
<class 'complex'>
36
<class 'int'>
False
<class 'bool'>
13
<class 'int'>
skillset
<class 'str'>
11
<class 'int'>

# Q5. 
Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [14]:
A = int(input("Enter a value for A: "))
B = int(input("Enter a value for B: "))

count = 0

while A % B == 0:
    A = A / B
    count = count + 1

if count > 0:
    print("A is divisible by B ", count, " times.")
else:
    print("A is not divisible by B.")

Enter a value for A: 50
Enter a value for B: 5
A is divisible by B  2  times.

# Q6. 
Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [15]:
list = [1,3,5,9,7,6,11,22,33,44,88,65,32,88,74,14,36,14,74,98,30,16,64,72,39]

for i in list:
    if i % 3 == 0:
        print(i)
    else:
        pass

3
9
6
33
36
30
72
39

# Q7. 
What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [16]:
# A mutable object can be changed after it is created Examples : List, Set, Dictionary

list1= [10, 12, 'youngster']
list1.append(14)
list1

[10, 12, 'youngster', 14]

In [17]:
#An immutable object cannot be changed after it is created  Eg: tuples, int, float, bool, frozenset.

tuple1 = ( 10 , 12, 'pranav')
tuple1.append('data')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#This is what Python will give us an error if we try to modify an immutable object.