# Q1. 
### What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. 



Comparing SQL vs NoSQL databases, SQL databases are table-based databases,
whereas NoSQL databases can be document-based, key-value pairs, and graph databases.

SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

# Q2. 
### What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL stands for Data Definition Language. 
It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database,
including creating, modifying, and deleting database objects such as tables, indexes, views, and constraints.

CREATE: The CREATE statement is used to create new database objects such as tables, views, indexes, or constraints
    CREATE TABLE Employees (
    EmployeeID INT,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    HireDate DATE
);
    
DROP: The DROP statement is used to remove or delete existing database objects
    DROP TABLE Employees;

ALTER: The ALTER statement is used to modify the structure of an existing database object,
    such as adding, modifying, or deleting columns, constraints, or indexes. 
    TRUNCATE TABLE Employees;

TRUNCATE: The TRUNCATE statement is used to delete all data from a table, but it keeps the table structure intact.
    TRUNCATE TABLE Employees;

# Q3. 
### What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML stands for Data Manipulation Language. 
It is a subset of SQL (Structured Query Language) that is used to manipulate data within a database

INSERT: The INSERT statement is used to add new rows or records into a table.
    It specifies the table name and the values to be inserted into the corresponding columns.
    INSERT INTO Employees (EmployeeID, FirstName, LastName, HireDate)
VALUES (1, 'John', 'Doe', '2023-01-01');

UPDATE: The UPDATE statement is used to modify existing data in a table.
    It allows you to update specific columns or records based on specified conditions.
    UPDATE Employees
SET LastName = 'Smith'
WHERE EmployeeID = 1;

DELETE: The DELETE statement is used to remove specific rows or records from a table based on specified conditions.
    DELETE FROM Employees
WHERE EmployeeID = 1;

# Q4.
### What is DQL? Explain SELECT with an example.

In [ ]:
DQL stands for Data Query Language. 
It is a subset of SQL (Structured Query Language) that is used to retrieve and query data from a database. 
DQL statements, specifically the SELECT statement, 
are used to retrieve data from one or more tables and return the desired results.

SELECT FirstName, LastName, Salary
FROM Employees
WHERE Salary > 50000
ORDER BY LastName ASC;

# Q5.
### Explain Primary Key and Foreign Key.

In [ ]:
A primary key is a column or a set of columns in a table that uniquely identifies each row or record in that table. 
It serves as a unique identifier for the data and ensures data integrity. 


A foreign key establishes a relationship between two tables in a database.
It is a column or a set of columns in one table that refers to the primary key of another table.
The foreign key represents a link between the two tables and maintains referential integrity.

# Q6. 
### Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Establishing a connection to MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object
cursor = connection.cursor()

# Executing SQL queries
cursor.execute("SELECT * FROM your_table")

# Fetching the results
results = cursor.fetchall()

# Processing the results
for row in results:
    print(row)

# Closing the cursor and the connection
cursor.close()
connection.close()

cursor(): The cursor() method is used to create a cursor object, which allows you to execute SQL statements and fetch results. 
    The cursor object acts as a pointer or a handle to the result set returned by a query. 
    It provides methods to execute SQL statements, fetch rows, and perform other database operations.

In the code snippet, cursor = connection.cursor() creates a cursor object named cursor associated with the database connection.

execute(): The execute() method is used to execute SQL statements or queries through the cursor object.
    It takes the SQL query as its argument and executes it on the connected MySQL database. 
    The execution can include queries like SELECT, INSERT, UPDATE, DELETE, and more.

In the code snippet, cursor.execute("SELECT * FROM your_table") executes the SQL query 
"SELECT * FROM your_table" using the execute() method.

# Q7. 
### Give the order of execution of SQL clauses in an SQL query.

In [ ]:
The order of execution of SQL clauses in an SQL query generally follows the following sequence:

FROM: Specifies the table(s) from which the data will be retrieved.
WHERE: Filters the data based on specified conditions.
GROUP BY: Groups the data based on specified columns.
HAVING: Filters the grouped data based on specified conditions.
SELECT: Retrieves the desired columns or expressions from the data.
ORDER BY: Sorts the data based on specified columns or expressions.
LIMIT/OFFSET: Limits the number of rows returned or skips a specified number of rows (depending on the database system).